<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 15px;
        text-align: left;
    }
    button{
        display: block;
    }

</style>
<script>

</script>

<button onclick='location.href="/logout";'>Logout</button>
<button onclick='location.href="/add_author";'>Create Author</button>

<table>
    <tr>
        <th>Author Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <% for(var i = 0; i < authors.length; i++) { %>
    <tr>
        <td><%= authors[i].firstName %> <%= authors[i].lastName %></td>
        <td><button class="edit" name="">Edit</button></td>
        <td><button class="delete" dataID="<%= authors[i].authorId %>">Delete</button></td>
    </tr>
    <% } %>

</table>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Once author is deleted it will be impossible to recover.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>

    var delete_id;

    $(document).ready(function() {
        $(".delete").on('click', function() {
            console.log("delete clicked!");
            let id = $(this).attr("dataID");
            console.log(id);
            $('#confirmDeleteModal').modal('show');
        });
    });
</script>